#parse("base.html")
#@mainLayout()
<h1>IoT Things</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>State</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        #foreach ($t in $things)
        <tr>
            <td>
                <a href="/things/$velocityCount">
                    $velocityCount
                </a>
            </td>
            <td>$t.getTypeName()</td>
            <td>$t.getName()</td>
            <td>$t.getState().name()</td>
            <td>$t.getDescription()</td>
        </tr>
        #end
        <tr>

        </tr>
        </tbody>
    </table>
</div>
#end
